/* Error: Missing argument $map.
 *    ,--> scss/components/_buttons.scss
 * 7  |   @include buttons;
 *    |   ^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> scss/utilities/_mixins.scss
 * 28 | @mixin buttons($map) {
 *    |        ============= declaration
 *    '
 *   scss/components/_buttons.scss 7:3  buttons()
 *   scss/components/_buttons.scss 7:3  @import
 *   scss/components/_index.scss 4:10   @import
 *   scss/styles.scss 6:10              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $map.\a    \250c \2500 \2500 > scss/components/_buttons.scss\a 7  \2502    @include buttons;\d\a    \2502    ^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > scss/utilities/_mixins.scss\a 28 \2502  @mixin buttons($map) {\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   scss/components/_buttons.scss 7:3  buttons()\a   scss/components/_buttons.scss 7:3  @import\a   scss/components/_index.scss 4:10   @import\a   scss/styles.scss 6:10              root stylesheet";
}
