/* ============================================= */
/*              Mixins                           */
/* ============================================= */

@mixin center-container {
  display: map-get($img-placement, 'display');
  margin-left: map-get($img-placement, 'center-margin');
  margin-right: map-get($img-placement, 'center-margin');
  margin-top: map-get($img-placement, 'margin-top');
  max-width: map-get($img-placement, 'max-width');
}

@mixin btn {
  margin-top: 15px;
  width: 100%;
  color: $white-font;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: map-get($border-style, 'display-borders');
}

@mixin buttons($map) {
  @each $btn-color, $color in $map {
    &.#{$btn-color} {
      background-color: $color;
      &:hover {
        background-color: lighten($color, 20%);
      }
    }
  }
}

@mixin grid($map) {
  @each $grid-section-color, $color in $map{
    &.#{$grid-section-color} {
      background-color: $color;
    }
  }
}






   
