/* ============================================= */
/*              VARIABLES                        */
/* ============================================= */


//Font-family
$main-font: 'Lato', sans-serif;


/* ============================================= */
/*              COLORS                           */
/* ============================================= */


//Gross font color (Includes 'Grid System')
$p-color: #777;

//Embedded link color & background hover
$link-font: #51ddfc;
$nav-hover-bg: #58e1c1;

//White ('Nav hover' & 'buttons section')
$white-font: #fff;

//Headline, Section Borders-'quote & form'
$headline-primary: #58e1c1;
$borders: #58e1c1;

//Image border
$img-border: #ccc; 


/* ============================================= */
/*              GROSS BORDER RADIUS STYLING      */
/* ============================================= */


//Radius adjustment of 'buttons' and 'grid system'
$border-style: (
  'quote-border': 5px,
  'display-borders': 5px
);


/* ============================================= */
/*              IMAGES PLACEMENT                 */
/* ============================================= */


$img-placement: (
    'display': block,
    'margin-left': auto,
    'margin-right': auto,
    'margin-top': 10px,
    'max-width': 100%,
);


/* ============================================= */
/*              BUTTONS SECTION                  */
/* ============================================= */


$btn-colors: (
  'btn-default': #51ddfc,
  'btn-success': #63cc82,
  'btn-error': #e4757a,
  'btn-warning': #fd7856,
  'btn-info': #927bc1
);


/* ============================================= */
/*              GRID SYSTEM COLORS               */
/* ============================================= */


$grid-section-colors: (
  'col-3': #deb2ee,
  'col-4': #7ee6fd,
  'col-5': #88d9a0,
  'col-6': #4da2bb,
  'col-7': #ec9fa3,
  'col-8': #fd9f85,
  'col-12': #80e8d1
);

/* ============================================= */
/*              MEDIA QUERY                      */
/* ============================================= */


$break: ('min-width: 768px');