/* ============================================= */
/*              Variables                        */
/* ============================================= */

//Gross font color (Includes 'Grid System')
$p-color: #777;

//Embedded link color & background hover
$link-font: #51ddfc;
$nav-hover-bg: #58e1c1;

//White ('Nav hover' & 'buttons section')
$white-font: #fff;

//Headline, Section Borders-'quote & form'
$headline-primary: #58e1c1;
$borders: #58e1c1;




