/* ============================================= */
/*              BUTTONS                          */
/* ============================================= */

.btn {
  // @include btn;
  margin-top: 15px;
  width: 100%;
  color: $white-font;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: map-get($border-style, 'display-borders');
}



.default {
  background-color: map-get($btn-colors, 'default');
}

.error {
  background-color: map-get($btn-colors, 'error');
}

.info {
  background-color: map-get($btn-colors, 'info');
}

.success {
  background-color: map-get($btn-colors, 'success');
}

.warning {
  background-color: map-get($btn-colors, 'warning');
}
