/* ============================================= */
/*              GRID SYSTEM                      */
/* ============================================= */

.container {

  padding: 0 10px;
}

.row {

  display: flex;
  flex-direction: column;
  padding: 1em 10px;
}

[class^=col] {

  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: map-get($border-style, 'display-borders');
}

.theme {
  @include grid($grid-section-colors);
}

.card {
  flex-basis: 100%;
}